* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Fuente por defecto */
    background-color: #fffafa; /* Color de fondo */
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    grid-template-columns: 1fr 4fr;
    gap: 10px;

    }

header{
    grid-area: header;
    background-color: #050910;
    color: #ea507c;
    text-align: center;
    padding: 1rem;
}

menu{
    grid-area: menu;
    padding: 15px;
}

menu p{
    
    color:#828181;
}

main{
    grid-area: main;
    min-height: 85vh;
    box-sizing: border-box;
}

footer{
    grid-area: footer;
    background-color: #66f;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    }

.card {
    display: flex;
    flex-direction: column; 
    width: 250px;
    border: solid 1px; 
    margin: 5px; 
    
    }

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
    
}

.card-body {
    flex-grow: 1;
    text-align: center ;
    padding: 0.5rem;

    }

.card-footer{
    background-color: #5a25f8;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}